.buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.element {
  background-color: bisque;
  border-radius: 20px;
  border-color: blanchedalmond;
}
